<html>
<head>
  <title>CSV Upload</title>
</head>
<body>
<h1>Upload CSV</h1>

<form action="http://localhost:9292" method="POST" enctype="multipart/form-data">
  <input type="file" name="file">
  <input type="submit" value="Upload CSV">
</form>
</body>
</html>